# Create Sprint Release JIRAs

In [2]:
import requests
import json
import collections

APPS = ["SL", "DR", "MO", "WE"]
EPIC = collections.namedtuple('EPIC', 'name summary sprint')

EPIC_TEMPLATE = {
    'fields': {
       "project":
       { 
          "key": "TCUTS"
       },
       "customfield_10005": {},  # epic name
       "customfield_10010":{}, # sprint name
       "summary": {},
       "issuetype": {
          "name": "Epic"
       }
   }
}


headers = { 'Content-Type': 'application/json'}

def prepare_jiras(key, name):
    epics = []
    for app in APPS:
        sprint_app = "{}{}".format(key, app)  # S9DR
        epics.append(
            EPIC(name=sprint_app,
                 summary="{} - release".format(sprint_app),
                 sprint=name
                )
        )
    
    for epic in epics:
        data = EPIC_TEMPLATE.copy()
        data['fields']['customfield_10005'] = epic.name
        data['fields']['customfield_10010'] = epic.sprint
        data['fields']['summary'] = epic.summary
        
        print (data)
        
        res = requests.post(
            url="https://tendercuts.atlassian.net/rest/api/2/issue/",
            auth=("varun@tendercuts.in", "DqPozVubP4[ohV"),
            headers=headers,
            data=json.dumps(data)
        )

        print (res.__dict__)

# prepare_jiras("S9", 12)

In [ ]:
# Time spent in JIRA

In [35]:
res.text
import pandas as pd
import pprint
res = requests.get(
    url="https://tendercuts.atlassian.net/rest/api/2/search/?jql=Sprint=12",
    auth=("varun@tendercuts.in", "DqPozVubP4[ohV"),
    headers=headers,
)

records = []
for issue in res.json()['issues']:
    if issue['fields']['assignee'] is None:
        print ("Skipping {}".format(issue['key']))
        continue
        
    records.append((
        issue['fields']['aggregatetimespent'],
        issue['fields']['assignee']['displayName'],
        issue['key']
        
    ))

time_df = pd.DataFrame(records, columns=['time', 'user', 'jira'])
time_df = time_df.fillna(0)
time_df.time /= 3600
time_df = time_df.groupby('user').sum()
time_df

                      time
user
Banu Priya             0.0
Hariharan Devaraj     16.0
Madhusoothanan         0.0
Prem kumar             4.0
Saravana Ganesh        8.0
Varun Prasad           0.0
asarudheen            18.0
naveen@tendercuts.in   0.0